In [4]:
import pandas as pd

df = pd.read_csv("home.txt")
df

                date  temperature
0   2026-01-16-14-02           18
1   2026-01-16-14-02           18
2   2026-01-16-14-02           18
3   2026-01-16-14-02           18
4   2026-01-16-14-02           18
5   2026-01-16-14-02           18
6   2026-01-16-14-02           18
7   2026-01-16-14-02           18
8   2026-01-16-14-02           18
9   2026-01-16-14-02           19
10  2026-01-16-14-03           19
11  2026-01-16-14-03           19
12  2026-01-16-14-03           19
13  2026-01-16-14-03           19

In [9]:
dates = df["date"].tolist()
temperatures = df["temperature"].tolist()

In [10]:
dates

['2026-01-16-14-02',
 '2026-01-16-14-02',
 '2026-01-16-14-02',
 '2026-01-16-14-02',
 '2026-01-16-14-02',
 '2026-01-16-14-02',
 '2026-01-16-14-02',
 '2026-01-16-14-02',
 '2026-01-16-14-02',
 '2026-01-16-14-02',
 '2026-01-16-14-03',
 '2026-01-16-14-03',
 '2026-01-16-14-03',
 '2026-01-16-14-03']